# Ignore eberything (to pick executables with no extension)
*
# After that track again all directories and files with extensions
!*/
!*.*

# Ignore (again, order matters in .gitignore)
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

*.hs.out

# Testing
test.hs